[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples.git
[submodule "src/grid_map"]
	path = src/grid_map
	url = https://github.com/ANYbotics/grid_map.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/BehaviorTree.CPP"]
	path = src/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "src/pinocchio"]
	path = src/pinocchio
	url = https://github.com/stack-of-tasks/pinocchio.git
[submodule "src/urdf_tutorial"]
	path = src/urdf_tutorial
	url = https://github.com/ros/urdf_tutorial.git
